@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/* Reset code starts here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reset code ends here */

body {
  font-family: 'Inter', sans-serif;
}

.main-section {
  max-width: 1440px;
  height: auto;
  background: rgb(0, 0, 0);
}

/* navbar style starts here*/
.container {
  width: 100%;
  height: 48rem;
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
}

.navbar {
  margin: auto;
  width: 65rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  color: rgb(230, 83, 60);
  margin-top: 5rem;
  font-size: 2.1rem;
  font-weight: 900;
}

.navbar ul {
  display: flex;
  align-items: center;
  margin-top: 5rem;
}

.navbar ul li {
  display: inline;
  list-style: none;
}

.navbar ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-left: 3rem;
  font-size: 1.1rem;
  font-weight: 400;
}

#hamburger {
  color: rgb(255, 255, 255);
  display: none;
}

.navbar span {
  background: rgb(230, 83, 60);
  padding: 0.6rem 1.6rem;
  border-radius: 6rem;
}

.banner-content {
  display: flex;
  flex-direction: column;
  width: 32rem;
  height: 25rem;
  margin-top: 8rem;
}

.banner-content span {
  font-family: 'Dancing Script', cursive;
  font-size: 5rem;
}

.banner-content h2 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 4rem;
  font-weight: 900;
}

.banner-content p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7rem;
  margin-top: 1.3rem;
}
.buttons {
  width: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primary-button,
.secondary-button {
  width: 14rem;
  height: 3rem;
  padding: 1.1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  background: rgb(230, 83, 60);
  font-size: 1.1rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin-top: 1rem;
  border: none;
  cursor: pointer;
}

.secondary-button {
  background: none;
  border: 1px solid rgb(255, 255, 255);
}
.banner {
  width: 65rem;
  height: 35rem;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.banner-image {
  display: flex;
  justify-content: space-between;
}

.banner-image img {
  width: 20rem;
  height: 35rem;
  display: flex;
  margin-top: 3rem;
}

.video-card {
  display: flex;
  position: absolute;
  width: 11rem;
  height: 6rem;
  right: 22rem;
  top: 35rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  color: rgb(255, 255, 255);
}

.card-icon {
  background: rgb(230, 83, 60);
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  margin-top: 2rem;
  margin-left: 0.8rem;
}

.card-icon i {
  margin-top: 0.5rem;
  margin-left: 0.7rem;
}

.icon-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.icon-text h3 {
  margin-right: 1.5rem;
}

.icon-text p {
  margin-left: 0.8rem;
  font-size: 0.8rem;
}

.icon-text h3,
.workout-text h3 {
  color: rgb(250, 250, 249);
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
}

.icon-text p,
.workout-text p {
  color: rgba(239, 237, 232, 0.65);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
}

.workout-card {
  position: absolute;
  width: 11rem;
  height: 6rem;
  right: 3rem;
  top: 18rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.workout-text {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}

.workout-text h3 {
  font-size: 2rem;
}

.workout-text p {
  font-size: 0.8rem;
  justify-content: center;
}

/* navbar style ends here*/

/* Habit section style starts here */
.habit-section {
  width: 100%;
  height: 43rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.habit-container {
  width: 70rem;
  height: auto;
}

.habit-content {
  color: rgb(255, 255, 255);
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.habit-content h3 {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
}

.habit-content p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-top: 1rem;
  text-align: center;
}

.habits-images {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.habits-images,
h3,
p {
  color: rgb(255, 255, 255);
  text-align: center;
}

.image img {
  width: 14rem;
  height: 13rem;
  border-radius: 50%;
  margin-top: 50px;
}

.habits-images h3 {
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.habits-images p {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1rem;
  color: rgb(255, 255, 255, 0.5);
  text-align: center;
}
/* Habit section style ends here */

/* uniqe section starts here  */
.food-section {
  width: 100%;
  height: 31rem;
  background: rgb(34, 34, 34);
}

.food-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 0 auto;
}

.food-content h2 {
  font-size: 2rem;
  font-weight: 900;
  margin-top: 1rem;
}

.food-content p {
  color: rgb(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  margin-top: 0.8rem;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.food-images {
  display: flex;
  width: 65rem;
  margin: auto;
  justify-content: space-between;
}

.food img {
  margin-top: 5.5rem;
  width: 25rem;
  height: 14rem;
  border-radius: 1rem;
}

.food-text {
  width: 35rem;
  height: auto;
}

.food-images h2 {
  font-weight: 600;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.food-text h3 {
  margin-top: 5rem;
  font-size: 1.5rem;
  font-weight: 900;
}

.food-text p {
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 1rem;
  color: rgb(255, 255, 255, 0.5);
  margin-left: 2rem;
}

/* uniqe section ends here  */

/* Run section starts here  */
.run-section {
  width: 100%;
  height: 40rem;
  display: flex;
}

.run-container {
  width: 65rem;
  height: 23rem;
  background: rgb(34, 34, 34);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  border-radius: 1.5rem;
  padding: 2rem;
}

.run-content {
  width: 25rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
}

.run-content h2 {
  color: rgb(255, 255, 255);
  font-size: 2.7rem;
  font-weight: 900;
}

.run-content p {
  text-align: left;
  color: rgb(255, 255, 255, 0.5);
  margin-top: 1.5rem;
}

.run-image img {
  width: 27rem;
  height: 19rem;
  border-radius: 1.5rem;
}

/* Run section ends here  */

/* BMI section style starts here */
.bmi-calculator {
  width: 100%;
  height: 13rem;
}

.bmi-content {
  width: 50rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.bmi-content h3,
p {
  text-align: start;
}

.bmi-content h3 {
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 2rem;
  line-height: 120%;
  margin: 0;
}

.bmi-content p {
  color: rgb(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 1rem 0;
}

.bmi-chart {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30rem;
  background: rgb(34, 34, 34);
}

.bmi-container {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 65rem;
  height: 25rem;
}
.chart-1,
.chart-2 {
  width: 30rem;
  height: 22rem;
}

.chart-content {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  display: flex;
  text-align: left;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
}

.bmi-chart-table th {
  padding: 1rem 2.1rem;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: left;
  color: rgb(255, 255, 255);
}

.bmi-chart-table .bm {
  border: none;
}

.bmi-chart-table td {
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(255, 255, 255, 0.5);
  padding: 1rem 2rem;
}

.bmi-chart-table tr {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.Calculate-your-bmi h2 {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  font-weight: 900;
}

.Calculate-your-bmi p {
  width: 80%;
  color: rgb(255, 255, 255, 0.5);
  font-weight: 400;
  line-height: 1.5rem;
  font-size: 0.9rem;
  margin-top: 1rem;
}

.calculate {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
}

input {
  width: 14.1rem;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 0.6rem;
  color: rgb(255, 255, 255);
}

#select {
  width: 95%;
  padding: 1rem;
}

select {
  width: 14.2rem;
  height: 3rem;
  margin-top: 0.6rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 0.6rem;
  color: rgb(255, 255, 255, 0.5);
}

/* BMI section style ends here */

/* Team section style starts here */
.team-gallery {
  width: 100%;
  height: 63rem;
}

.team-container {
  width: 65rem;
  height: 52rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 100px;
}

.team-content {
  width: 671px;
  height: 120px;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.team-content h2 {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-weight: 900;
}

.team-content p {
  text-align: center;
  color: rgb(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-top: 1rem;
}

.team-images {
  width: 100%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 5rem;
  position: relative;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
}

.team-images img {
  width: 20rem;
  height: 17rem;
  border-radius: 1rem;
  background: rgb(0, 0, 0, 0.1);
  opacity: 0.7;
}

.trainer h2 {
  position: absolute;
  bottom: 3.1rem;
  color: rgb(255, 255, 255);
  margin-left: 1.5rem;
}

.trainer p {
  position: absolute;
  bottom: 30px;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(255, 255, 255, 0.5);
  margin-left: 1.5rem;
}

.trainer-name h2 {
  position: absolute;
  bottom: 21.4rem;
  margin-left: 1.5rem;
  background-blend-mode: overlay;
}

.trainer-name p {
  position: absolute;
  bottom: 320px;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(255, 255, 255, 0.5);
}

/* Team section style ends here */

/* Footer section style starts here */
.footer-section {
  width: 100%;
  height: 33rem;
  background: rgb(32, 32, 32);
  position: relative;
}

.footer-content {
  width: 65rem;
  height: 17rem;
  margin-top: 3rem;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.footer-content ul {
  list-style: none;
  margin-top: 2rem;
}

.footer-content ul li {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(255, 255, 255, 0.5);
  line-height: 2rem;
}

.box1 {
  width: 443px;
  height: 176px;
  margin-top: 3rem;
}

.box1 h2 {
  margin-left: 2rem;
  font-weight: 800;
  font-size: 2.5rem;
  margin-top: 1rem;
}

.box1 p {
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(255, 255, 255, 0.5);
  line-height: 1.5rem;
  margin-left: 2rem;
}

.box1 span {
  color: rgb(230, 83, 60);
  font-size: 3rem;
}

.box {
  width: 200px;
  height: 220px;
  margin-top: 4.5rem;
}

.box h2 {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 2rem;
}

.reserved {
  width: 65rem;
  margin: auto;
  margin-top: 11rem;
}

.reserved p {
  font-weight: 400;
  font-size: 1.5rem;
  color: rgb(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

/* Footer section style ends here */

/* Responsive design */
@media screen and (max-width: 576px) {
  .container {
    width: 100%;
  }

  .navbar {
    width: 90%;
    position: relative;
  }

  #hamburger {
    position: absolute;
    display: block;
    font-size: 2rem;
    right: 0;
  }

  .navbar ul li a {
    display: none;
  }
  .banner {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .banner-content {
    width: 15rem;
  }

  .banner-content h2 {
    font-size: 2rem;
    width: 14rem;
  }

  .banner-content span {
    font-size: 2.8rem;
  }

  .banner-content p {
    font-size: 1rem;
  }

  .buttons {
    width: 23rem;
  }

  .primary-button,
  .secondary-button {
    width: 11rem;
    height: 2rem;
    padding: 1rem 2.8rem;
    font-size: 0.7rem;
  }

  .banner-image {
    justify-content: center;
  }

  .video-card {
    left: 3rem;
    top: 58rem;
  }
  .card-icon i {
    margin-right: 2rem;
  }
  .icon-text h3 {
    position: absolute;
    left: 3.8rem;
    top: 1.5rem;
  }
  .icon-text p {
    margin-top: 2rem;
    font-size: 0.9rem;
  }

  .workout-card {
    left: 20rem;
    top: 45rem;
  }
  .workout-card p {
    width: 100%;
  }

  /* habit section */
  .habit-section {
    width: 100%;
    height: auto;
    margin-top: 25rem;
  }
  .habit-container {
    width: 80%;
  }

  .habit-content {
    width: 90%;
  }

  .habit-content h3 {
    font-size: 2.1rem;
  }

  .habit-content p {
    font-size: 0.9rem;
    margin: auto;
  }

  .habits-images {
    flex-direction: column;
  }
  .habits-images p {
    width: 50%;
    margin: auto;
  }

  /* unique section */
  .food-section {
    width: 100%;
    height: 50rem;
    margin-top: 7rem;
  }
  .food-container {
    width: 100%;
  }

  .food-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .food-text p {
    width: 90%;
    margin: auto;
    margin-top: 2rem;
  }

  .food-images {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  .food {
    width: 90%;
    margin: auto;
  }

  .food img {
    width: 100%;
  }

  /* Run section */
  .run-section {
    width: 100%;
    height: auto;
    margin-top: 8rem;
  }
  .run-container {
    flex-direction: column;
    width: 90%;
    height: auto;
    padding: 20px;
    border-radius: 27px;
  }

  .run-content {
    width: 70%;
    height: auto;
  }
  .run-image {
    display: flex;
    margin: auto;
  }
  .run-image img {
    width: 75%;
    height: auto;
    margin: auto;
    margin-top: 2rem;
  }

  .btn {
    width: 20rem;
    margin-top: 2rem;
  }

  /* bmi section */
  .bmi-calculator {
    margin-top: 8rem;
  }

  .bmi-content {
    width: 70%;
  }

  .bmi-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .bmi-chart {
    margin-top: 4rem;
    width: 100%;
    height: auto;
  }

  .bmi-content h3 {
    font-size: 2rem;
  }

  .bmi-content p {
    width: 300px;
    font-size: 18px;
  }
  .chart-1,
  .chart-2 {
    width: 90%;
    height: auto;
    margin: auto;
  }

  .chart-2 {
    margin-top: 5rem;
    width: 80%;
  }
  .chart-content h3 {
    font-size: 2rem;
  }
  .input {
    display: flex;
    gap: 0.5rem;
  }

  input {
    width: 100%;
    margin-top: 0.5rem;
  }

  #select {
    width: 99.3%;
    padding: 1rem;
  }

  select {
    width: 110%;
  }

  /* Team gallery */
  .team-gallery {
    background: rgb(0, 0, 0);
    width: 100%;
    height: auto;
    margin-top: 2rem;
  }

  .team-container {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .team-content {
    width: 90%;
  }

  .team-images {
    grid-template-columns: 1fr;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }
  .team-images img {
    width: 90%;
    position: relative;
  }

  .trainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
  }

  .trainer-1 h2,
  .trainer-2 h2,
  .trainer-3 h2 {
    position: absolute;
  }

  .trainer-1 h2 {
    top: 13rem;
    left: 2rem;
  }
  .trainer-1 p {
    top: 15rem;
    left: 2rem;
  }

  .trainer-2 h2 {
    top: 13rem;
    left: 2rem;
  }
  .trainer-2 p {
    top: 15rem;
    left: 2rem;
  }

  .trainer-3 h2 {
    top: 31rem;
    left: 2rem;
  }

  .trainer-3 p {
    top: 33rem;
    left: 2rem;
  }
  .trainer-4 h2 {
    top: 68rem;
    left: 2rem;
  }
  .trainer-4 p {
    top: 70rem;
    left: 2rem;
  }

  .trainer-5 h2 {
    bottom: 22rem;
    left: 2rem;
  }

  .trainer-5 p {
    bottom: 20.5rem;
    left: 2rem;
  }

  .trainer-6 h2 {
    bottom: 3.2rem;
    left: 2rem;
  }

  .trainer-6 p {
    bottom: 2rem;
    left: 2rem;
  }

  /* display  none */
  .trainr-1 {
    display: none;
  }

  .trainr-4 {
    display: none;
  }

  .trainer-1 h2,
  .trainer-1 p,
  .trainer-4 h2,
  .trainer-4 p {
    display: none;
  }

  /* Footer section */
  .footer-section {
    width: 100%;
    height: auto;
    margin-top: 6rem;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .box1 {
    margin: auto;
    width: 93%;
    height: auto;
    margin-bottom: 3rem;
  }
  .box1 h2 {
    font-size: 2rem;
  }

  .box1 p {
    width: 16rem;
    font-size: 0.8rem;
  }

  .box {
    width: 80%;
    margin: 1rem auto;
  }
  .box h2 {
    font-size: 1.5rem;
  }

  .box p {
    font-size: 1rem;
  }

  .reserved {
    width: 80%;
    margin-top: 4rem;
  }

  .reserved p {
    font-size: 0.8rem;
    display: flex;
    justify-content: left;
  }
}

@media screen and (max-width: 500px) {
  .video-card {
    left: 0.1rem;
  }
  .workout-card {
    left: 17rem;
    top: 42rem;
  }
  .food-section {
    height: auto;
  }
  .btn {
    width: 15rem;
  }
}

@media screen and (max-width: 450px) {
  .video-card {
    left: 0.1rem;
  }
  .workout-card {
    width: 9rem;
    left: 14rem;
    top: 42rem;
  }

  .food-section {
    height: auto;
  }
  .btn {
    width: 15rem;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .container {
    width: 100%;
  }

  .navbar {
    width: 90%;
    position: relative;
  }

  #hamburger {
    position: absolute;
    display: block;
    font-size: 2rem;
    right: 0;
  }

  .navbar ul li a {
    display: none;
  }
  .banner {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .banner-content {
    width: 15rem;
  }

  .banner-content h2 {
    font-size: 2rem;
    width: 14rem;
  }

  .banner-content span {
    font-size: 2.8rem;
  }

  .banner-content p {
    font-size: 1rem;
  }

  .buttons {
    width: 23rem;
  }

  .primary-button,
  .secondary-button {
    width: 11rem;
    height: 2rem;
    padding: 1rem 2.8rem;
    font-size: 0.7rem;
  }

  .banner-image {
    justify-content: center;
  }

  .video-card {
    left: 3rem;
    top: 58rem;
  }
  .card-icon i {
    margin-right: 2rem;
  }
  .icon-text h3 {
    position: absolute;
    left: 3.8rem;
    top: 1.5rem;
  }
  .icon-text p {
    margin-top: 2rem;
    font-size: 0.9rem;
  }

  .workout-card {
    left: 20rem;
    top: 45rem;
  }
  .workout-card p {
    width: 100%;
  }

  /* habit section */
  .habit-section {
    width: 100%;
    height: auto;
    margin-top: 29rem;
  }
  .habit-container {
    width: 80%;
  }

  .habit-content {
    width: 90%;
  }

  .habit-content h3 {
    font-size: 2.1rem;
  }

  .habit-content p {
    font-size: 0.9rem;
    margin: auto;
  }

  .habits-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .habits-images p {
    width: 50%;
    margin: auto;
  }
}
